<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcv.com.mascotas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".Encontrar.EncontrarActivity" />
        <activity android:name=".localizados.LocalizadoActivity" />
        <activity android:name=".mascota.MascotaActivity" />
        <activity android:name=".usuario.PerfilActivity" />
        <activity android:name=".usuario.PerfilEditarActivity" />
        <activity android:name=".usuario.CrearPerfilActivity"/>
        <activity android:name=".mascota.CrearPerfilMascotaActivity"/>
        <activity android:name=".mascota.DetalleMascotaActivity"/>
        <activity android:name=".mascota.MascotaEditarActivity"/>

        <activity android:name=".publicaciones.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>